<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg border-0 rounded-4 p-4" style="width: 380px;">
        <div class="text-center mb-3">
            <h4 class="fw-bold text-primary mb-2">Bajaj eCommerce Authentication</h4>
            <p class="text-muted">Login to your account</p>
        </div>
        @if(authErrorMessage!==''){
        <div class="alert alert-danger" >{{authErrorMessage}}</div>
        }
        <form (ngSubmit)="onCredentialSubmit()" #loginForm="ngForm">

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold">Email address</label>
                <input type="email" id="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" name="email"
                    class="form-control" required email placeholder="Enter your email" [(ngModel)]="user.email" #email="ngModel">
                    @if(email.invalid && (email.dirty || email.untouched)){
                        @if(email.errors?.['required']){
                            <div class = "alert alertdanger">Emailid is required feild!</div>
                        }
                    }@if(email.errors?.['pattern']){
                        <div class = "alert alert-danger">
                            enter valid pattern
                        </div>
                    }
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Password</label>
                <input type="password" id="password" name="password" class="form-control" required minlength="6"
                    placeholder="Enter your password" [(ngModel)]="user.password" #password="ngModel">
                      @if(password.invalid && (email.dirty || email.untouched)){
                        @if(password.errors?.['required']){
                            <div class = "alert alertdanger">Emailid is required feild!</div>
                        }
                    }@if(password.errors?.['minlength']){
                        <div class = "alert alert-danger">
                            enter valid pattern
                        </div>
                    }
            </div>

            <!-- Submit Button -->
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill">
                    Login
                </button>
            </div>

            <div class="text-center mt-3">
                <small class="text-muted">Forgot password?</small>
            </div>
        </form>
    </div>
</div>
