<div class="container">
    <h1>{{title}}</h1>
    <hr>
    <form (ngSubmit)="onEventSubmit()" [formGroup]="register.eventForm" #eventForm="ngForm">
        <fieldset>
            <div class="form-group">
                <label for="inputEventId" class="form-label mt-4">Event Id</label>
                <input type="number" class="form-control" id="inputEventId" placeholder="Please enter your event Id!"
                    name="eventId" formControlName="eventId">
                @if (register.eventForm.controls['eventId'].errors?.['required']) {
                <div class="alert alert-danger">
                    Event Id is a required field!
                </div>
                }
            </div>
            <div class="form-group">
                <label for="inputEventCode" class="form-label mt-4">Event Code</label>
                <input type="text" class="form-control" id="inputEventCode" placeholder="Please enter your event code!"
                    name="eventCode" formControlName="eventCode">
                @if (register.eventForm.controls['eventCode'].errors?.['required']) {
                <div class="alert alert-danger">
                    Event Code is a required field!
                </div>
                }@else if (register.eventForm.controls['eventCode'].errors?.['minlength']) {
                <div class="alert alert-danger">
                    Event Code must be minimum 6 characters long!
                </div>
                }@else if (register.eventForm.controls['eventCode'].errors?.['maxlength']) {
                <div class="alert alert-danger">
                    Event Code must be maximum 6 characters long!
                </div>
                }
            </div>
            <div class="form-group">
                <label for="inputEventName" class="form-label mt-4">Event Name</label>
                <input type="text" class="form-control" id="inputEventName" placeholder="Please enter your event name!"
                    name="eventName" formControlName="eventName">
                @if (register.eventForm.controls['eventName'].errors?.['required']) {
                <div class="alert alert-danger">
                    Event Name is a required field!
                </div>
                }
            </div>
            <div class="form-group">
                <label for="inputDescription" class="form-label mt-4">Description</label>
                <input type="text" class="form-control" id="inputDescription"
                    placeholder="Please enter your event description!" name="description" formControlName="description">
            </div>
            <div class="form-group">
                <label for="inputStartDate" class="form-label mt-4">Start Date</label>
                <input type="date" class="form-control" id="inputStartDate"
                    placeholder="Please enter/select your event start date!" name="startDate"
                    formControlName="startDate">
            </div>
            <div class="form-group">
                <label for="inputEndDate" class="form-label mt-4">End Date</label>
                <input type="date" class="form-control" id="inputEndDate"
                    placeholder="Please enter/select your event end date!" name="endDate" formControlName="endDate">
            </div>
            <div class="form-group">
                <label for="inputFees" class="form-label mt-4">Event Fees</label>
                <input type="number" class="form-control" id="inputFees" placeholder="Please enter your event fees!"
                    name="fees" formControlName="fees">
                @if (register.eventForm.controls['fees'].errors?.['min']) {
                <div class="alert alert-danger">
                    Fees can not be in minus value!
                </div>
                }
            </div>
            <div class="form-group">
                <label for="inputSeatsFilled" class="form-label mt-4">Total Seats Filled</label>
                <input type="number" class="form-control" id="inputSeatsFilled"
                    placeholder="Please enter your total registrations!" name="seatsFilled"
                    formControlName="seatsFilled">
                @if (register.eventForm.controls['seatsFilled'].errors?.['min']) {
                <div class="alert alert-danger">
                    Total Registrations must be zero or above!
                </div>
                }@else if (register.eventForm.controls['seatsFilled'].errors?.['max']) {
                <div class="alert alert-danger">
                    Total Registrations must be 100 or below!
                </div>
                }
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="!eventForm.valid">Register Event</button>
        </fieldset>
    </form>
</div>