/* layout/_footer.scss */

footer {
    position: relative;
    background-color: $color-white;
    padding-top: 23em;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;

    p {
        font-family: $font-footer;
        font-size: 0.75em;
        color: $color-blue;
        text-align: center;

        &:after {
            content: "(standard)";
        }
    }

    a {
        color: $color-blue;
    }
}