<p>employee-listner works!</p>
@if(employees && employees.length > 0) {
<h1>{{title}}</h1>
<hr>
<h2>{{subtitle}}</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            @for (col of columns; track $index) {
            <th><span>{{col}}</span></th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @for(emp of employees; track $index) {
        <tr>
            <td><span>{{emp.employeeId}}</span></td>
            <td><span>{{emp.address}}</span></td>
            <td><span>{{emp.city}}</span></td>
            <td><span>{{emp.email}}</span></td>
        </tr>
        }
        </tr>
    </tbody>
</table>
}
@else {
    <h3>No Employess Found</h3>
}


 