<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout and Postions</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <nav id="header">
        <ul>
            <li><a href="http://www.google.com">Google</a></li>
            <li><a href="https://twitter.com/abc">@abc</a></li>
            <li><a href="https://twitter.com/xyz">@xyz</a></li>
        </ul>
    </nav>
    <div id="syne-block">
        <div id="syne-banner-text">
            <p>Add style with CSS !!</p>
        </div>
        <div id="side-text">
            <p>Learn the fundamentals of CSS with Pravinkumar !!</p>
        </div>
        <img id="css-image" src="images/image.png"></img>
    </div>
    <div id="modules-block">
        <div class="box">
            <h3 class="box-label">Getting Started</h3>
        </div>
        <div class="box">
            <h3 class="box-label">CSS Selectors</h3>
        </div>
        <div class="box">
            <h3 class="box-label">Page Layout</h3>
        </div>
        <div class="box">
            <h3 class="box-label">Media Queries</h3>
        </div>
        <div class="box">
            <h3 class="box-label">Transformations & Transitions</h3>
        </div>
        <div class="box">
            <h3 class="box-label">CSS Preprocessor</h3>
        </div>
    </div>
</body>
</html>