// Colors
$primary-color: #9926f0;
$secondary-color: #BB6EF5;
$pink: #d122e3;
$background-color: #f0f0f0;
$text-color: #333;

// Spacing
$padding: 20px;
$margin: 15px;

// Borders
$border-radius: 5px;