// Colors
$primary-color:                                  #9926f0;
$secondary-color:                                #BB6EF5;
$pink:                                           #d122e3;
$background-color:                               #f0f0f0; 
$text-color:                                     #333; 
$link-color:                                     white; 
$link-hover-color:                               darken($primary-color, 10%);
$padding:                                        20px; 
$margin:                                         15px; 
$gap:                                            10px; 
$border-radius:                                  5px; 
$image-width:                                    200px; 
$image-height:                                   200px; 
$transition-duration:                            0.3s; 
$transition-timing:                              ease-in-out;