@if(employee){
    <h1>{{title + employee.employeeName}}</h1>
    <hr>
    <h6>{{subTitle}}</h6>
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Employee Id</th>
                <td><span>{{employee.employeeId}}</span></td>
            </tr>
            <tr>
                <th>Employee email</th>
                <td><span>{{employee.email}}</span></td>
            </tr>
            <tr>
                <th>Employee name</th>
                <td><span>{{employee.employeeName}}</span></td>
            </tr>
            <tr>
                <th>Employee phone</th>
                <td><span>{{employee.phone}}</span></td>
            </tr>
            <tr>
                <th>Employee start date</th>
                <td><span>{{employee.joiningDate}}</span></td>
            </tr>
            <tr>
                <th>Employee city</th>
                <td><span>{{employee.city}}</span></td>
            </tr>
            <tr>
                <th>Employee Address</th>
                <td><span>{{employee.address}}</span></td>
            </tr>
            <tr>
                <th>Employee Country</th>
                <td><span>{{employee.country}}</span></td>
            </tr>
            <tr>
                <th>Employee Logo</th>
                <td><span>{{employee.avatar}}</span></td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-success" (click)="onEventProcessed()">send message to parent</button>
}
@else {
    <h4>We did not find the event which you are looking for!</h4>
}
