@if (event) {
<h1>{{title + event.eventName}}</h1>
<hr />

<table class="table table-hover table-striped">
    <tbody>
        <tr>
            <th>Event Id</th>
            <td><span>{{event.eventId}}</span></td>
        </tr>
        <tr>
            <th>Event Code</th>
            <td><span>{{event.eventCode|lowercase}}</span></td>
        </tr>
        <tr>
            <th>Event Name</th>
            <td><span>{{event.eventName|uppercase}}</span></td>
        </tr>
        <tr>
            <th>Event Description</th>
            <td><span>{{event.description|titlecase}}</span></td>
        </tr>
        <tr>
            <th>Event Start Date</th>
            <td><span>{{event.startDate|date:'dd/MMM/yyyy'}}</span></td>
        </tr>
        <tr>
            <th>Event End Date</th>
            <td><span>{{event.endDate|date:'dd/MMM/yyyy'}}</span></td>
        </tr>
        <tr>
            <th>Event Fees</th>
            <td><span>{{event.fees|currency:'INR'}}</span></td>
        </tr>
        <tr>
            <th>Event Total Registration</th>
            <td><span>{{event.seatsFilled}}</span></td>
        </tr>
        <tr>
            <th>Event Logo</th>
            <td>
                <img [src]="event.logo" [alt]="event.eventName">
            </td>
        </tr>
    </tbody>
</table>
}@else {
<h4>We did not find the event which you are looking for!</h4>
}