/* base/_variables.scss */
@font-face {
  font-family: "YashName";
  src: url(../Fonts/ABeeZee-Italic.woff) format("woff");
}
@font-face {
  font-family: "YashuNameu";
  src: url(../Fonts/ABeeZee-Italic.woff) format("woff");
}
@font-face {
  font-family: "YashDJ";
  src: url(../Fonts/Dited.woff) format("woff");
}
/* base/_reset.scss */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base/_typography.scss */
:root {
  background-color: #432100;
}

body {
  font-family: "YashuNameu", sans-serif;
  color: #432100;
  padding-top: 1em;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #00AAAA), color-stop(0.3, #432100));
  background: -ms-linear-gradient(bottom, #432100 30%, #00AAAA 70%);
  background: linear-gradient(to top, #432100 30%, #00AAAA 70%);
}

h1, h2 {
  text-shadow: 0.16em 0.016em 0.25em #AA5500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #AA8D00;
  text-decoration: none;
}
a:hover {
  color: #0055AA;
}

::selection {
  background-color: #FF8811;
  color: #FFFFFF;
}

/* layout/_header.scss */
nav {
  background-color: #432100;
  line-height: 2em;
}
nav h1 {
  display: none;
}
nav a {
  font-size: 1.25em;
  padding-left: 1em;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0.16em 0.16em 0.16em #FFBB77;
}
nav a:hover {
  color: #FFBB77;
}

#titles {
  background-color: #555555;
  padding-left: 1.5em;
  cursor: pointer;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

#title,
#subtitle {
  font-family: "YashDJ", cursive;
  opacity: 0.75;
}
#title:hover,
#subtitle:hover {
  opacity: 1;
}

#title {
  font-size: 6em;
  font-weight: bold;
  text-shadow: 0.16em 0.16em 0.5em #AA5500;
  color: hsla(210, 100%, 10%, 0.75);
}

#subtitle {
  font-size: 3em;
}

/* layout/_footer.scss */
footer {
  position: relative;
  background-color: #FFFFFF;
  padding-top: 23em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
footer p {
  font-family: Arial, sans-serif;
  font-size: 0.75em;
  color: #0055AA;
  text-align: center;
}
footer p:after {
  content: "(standard)";
}
footer a {
  color: #0055AA;
}

/* layout/_layout.scss */
#content {
  position: relative;
  padding: 0;
  margin: auto;
  width: 46em;
  border-radius: 2em;
  box-shadow: 0 0 0.5em 0.16em #555555, 0.5em 0.5em 3em #0055AA, -0.25em 0 3em #0055AA;
}
#content > *:not(:target, #intro) {
  z-index: -1;
}

:target {
  z-index: 2;
}

article,
section {
  position: absolute;
  background-color: #FFFFFF;
  padding: 1em;
  height: 21em;
  width: 44em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

#intro {
  position: absolute;
  z-index: 1;
}

#contact {
  background-color: #FFFFFF;
}

#about {
  display: -webkit-box;
  display: -ms-box;
  display: box;
  background: url(../images/cat.png) bottom left, url(../images/savagecat.png) top right, #FFFFFF;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: auto, contain;
}

/* components/_form.scss */
input {
  float: left;
  clear: left;
  margin: 0.16em;
  padding: 0.25em;
  background-color: #FFBB77;
  color: #432100;
  border-color: #FF8811;
  outline: 0;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
input:invalid:focus {
  background-color: rgba(67, 33, 0, 0.22);
}

:focus {
  box-shadow: 0 0 0.25em 0.125em palevioletred;
}

:required {
  background-color: #FFEDDB;
}

:valid {
  background-color: #FFFFFF;
}
:valid::-webkit-input-placeholder {
  color: #AA5500;
  font-style: italic;
}

:invalid::-webkit-input-placeholder {
  color: #AA5500;
  font-style: italic;
}

:not([type=submit]):optional {
  border-style: dashed;
}

/* components/_topics-list.scss */
#topics ul {
  position: relative;
  height: 8em;
  width: 98.5%;
  margin-top: 1em;
  border-radius: 2em;
  box-shadow: 0.5em 0.5em 0.5em #555555;
  column-count: 3;
  column-gap: 0;
}
#topics li {
  text-align: center;
  padding: 0.5em;
  cursor: crosshair;
}
#topics li h1 {
  font-size: 1em;
}
#topics li p {
  position: absolute;
  display: none;
  top: 10em;
  left: 2em;
}
#topics li:nth-child(3n) {
  background-color: #FFBB77;
}
#topics li:nth-child(3n-1) {
  background-color: #FFD4A8;
}
#topics li:nth-child(3n-2) {
  background-color: #FFEDDB;
}
#topics li:first-child {
  border-top-left-radius: 2em;
}
#topics li:nth-child(4) {
  border-bottom-left-radius: 2em;
}
#topics li:nth-child(9) {
  border-top-right-radius: 2em;
}
#topics li:last-child {
  border-bottom-right-radius: 2em;
}
#topics li:hover {
  background-color: #432100;
  color: #FFEDDB;
}
#topics li:hover p {
  display: inherit;
  color: #AA5500;
}
#topics li:last-child:hover h1 {
  transform: scale(2) skew(45deg, -4deg) rotate(180deg);
}

/* layout/_responsive.scss */
@media screen and (max-width: 800px), (max-device-width: 800px) {
  body {
    font-size: 85%;
  }
  #content {
    width: 35em;
  }
  #title {
    transition: 0s;
    font-size: 4em;
  }
  #subtitle {
    font-size: 2em;
  }
  nav a {
    color: #FFEDDB;
  }
  article, section, footer {
    width: 33em;
  }
  footer {
    padding-left: 1em;
    padding-right: 1em;
  }
  #about {
    display: inherit;
    background-position: right bottom, right top;
    background-size: 20%, 50%;
  }
  #about p {
    transform: rotate(16deg) translate(22em, 8em) scale(2);
  }
  #topics * {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  #topics ul {
    -webkit-column-count: 0;
    column-count: 0;
  }
  #topics li {
    display: inline-block;
    width: 7.75em;
    float: left;
    padding: 0 1.5em;
  }
}
@media screen and (max-width: 480px), (max-device-width: 480px) {
  body {
    font-size: 75%;
  }
  #content {
    width: 30em;
  }
  #title {
    font-size: 3em;
  }
  article, section, footer {
    width: 28em;
  }
  #about {
    background: none;
  }
  #about p {
    transform: rotate(7deg) translate(10em, 8em) scale(1.5);
  }
  #topics li {
    padding: 0.4375em;
  }
  #topics li p {
    font-size: 0.8125em;
  }
}
@media screen and (min-width: 800px) {
  #title:hover {
    transform: scale(1.15);
  }
}

/*# sourceMappingURL=site.css.map */
