<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">Bajaj EP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="active">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events/cards-view']" routerLinkActive="active">Event Cards</a>
                </li>
                @if (isLoggedIn===true && role==="Hr") {
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/events/register']" routerLinkActive="active">Register Event</a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#">New User</a>
                </li>
                @if(isLoggedIn===true){
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active"
                        (click)="logout()">Logout</a>
                </li>
                }@else{
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>