/* CSS Reset  -  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*#region Colors */

/*  HEX         
    #000000     
    #FFFFFF     
    #555555     
    #0055AA     
    #00AAAA     
    #AA8D00     
    #432100     
    #AA5500     
    #FF8811     
    #FFBB77     
    #FFD4A8     
    #FFEDDB     
*/

/*#endregion*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*#region Elements */

body {   
    color:                          #432100;
    padding-top:                    1em;
    background-repeat:              no-repeat;
}
h1 {
    font-size:                      2em;
}
h2 {
    font-size:                      1.5em;
}

nav {
    background-color:               #432100;
    line-height:                    2em;
}
nav h1 {
    display:                        none;
}
input {
    float:                          left;
    clear:                          left;
}
input {
    margin:                         0.16em;
    padding:                        0.25em;
    background-color:               #ffbb77;
    color:                          #432100;
    border-color:                   #ff8811;
    outline:                        0;
}
article, section {
    background-color:               #ffffff;
    padding:                        1em;
    height:                         21em;
    width:                          44em;

}
footer {
    position:                       relative;
    background-color:               #ffffff;
    padding-top:                    23em;
}
footer p {
    font-family:                    arial;
    font-size:                      0.75em;
    color:                          #0055aa;
    text-align:                     center;
}
a {
    color:                          #aa8d00;
    text-decoration:                none;
}
a:hover {
    color:                          #0055aa;
}
nav a {
    font-size:                      1.25em;
    padding-left:                   1em;
}
nav a:hover {
    color:                          #ffbb77;
}
footer a {
    color:                          #0055aa;
}

footer p:after {
    content:                        "(standard)";
}

/*#endregion*/

/*#region IDs */
#contact {
    background-color:               #FFFFFF;
}
#titles {
    background-color:               #555555;
    padding-left:                   1.5em;
    cursor:                         pointer;
}
#title {
    font-size:                      6em;
    font-weight:                    bold;
}
#subtitle {
    font-size:                      3em;
}
#content {
    position:                       relative;
    padding:                        0;
    margin:                         auto;
    width:                          46em;
}
#topics ul{ 
    position:                       relative;
    height:                         8em;
    width:                          98.5%;
    margin-top:                     1em;
}
#topics li {
    text-align:                     center;
    padding:                        .50em;
    cursor:                         crosshair;
}
#topics li p {
    position:                       absolute;
    display:                        none;
    top:                            10em;   
    left:                           2em;
}
/*#endregion*/








/* #region CustomFonts */
@font-face {
    font-family: YashName;
    src: url(../Fonts/ABeeZee-Italic.woff) format('woff');
}
@font-face {
    font-family: YashuNameu;
    src: url(../Fonts/ABeeZee-Italic.woff) format('woff');
}
@font-face {
    font-family: YashDJ;
    src: url(../Fonts/Dited.woff) format('woff');
}
/* #endregion */ 






/* Shadow Effect */
body{
    font-family: 'YashuNameu';
}
#title , #subtitle{
    font-family: 'YashDJ';
}

#title {
    text-shadow: 0.16em 0.16em 0.5em #AA5500;
}
h1,h2 {
    text-shadow: 0.16em 0.016em 0.25em #AA5500;
}
nav a {
    text-shadow: 0.16em 0.16em 0.16em #FFBB77;
}
/* Shadow Effect ends */



/* Form Selector Sector Starts*/
#topics li:nth-child(3n) { 
    background-color:               #FFBB77;
}
#topics li:nth-child(3n-1) { 
    background-color:               #FFD4A8;
}
#topics li:nth-child(3n-2) { 
    background-color:               #FFEDDB;
}

#topics li h1{
    font-size:                      1em;
}
#topics li:hover {
    background-color:               #432100;
    color:                          #FFEDDB;
}
#topics li:hover p {
    display:                        inherit;
    color:                          #AA5500;
}

article, section, #intro {
    position:                       absolute;
}
#intro {
    z-index:                        1;
}
#content>*:not(:target,#intro){
    z-index:                        -1;
}
:target {
    z-index:                        2;    
}
::selection {
    background-color:               #FF8811;
    color:                          #FFFFFF;
}
:root {
    background-color:               #432100;
}

:required {
    background-color:               #FFEDDB;
}
:valid {
    background-color:               #FFFFFF;    
}
:valid::-webkit-input-placeholder {
    color:  #AA5500;
    font-style: italic;
}
:invalid::-webkit-input-placeholder
{
    color:  #AA5500;
    font-style: italic;
}
:not([type=submit]):optional {
    border-style: dashed;
}
/* Form Selector Sector Starts*/

/* Vendor Prefix - Layout begins */
#topics ul{
    column-count:       3;
    column-gap:         0;
}

/* MultiStage Image Begins */
#about {
    display:                        -webkit-box;
    display:                        -ms-box;
    display:                        box;

    background:     url(../images/cat.png) bottom left,
                    url(../images/savagecat.png) top right,
                    #ffffff;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto, contain;
}
/* mULTIsTAGE Image EndS */


/* color gradient region starts here */

/* Opacity, RGBA, HSLA, Grandients */
#title:hover {
    opacity:            0.75;
}
#subtitle {
    opacity:            0.75;
}
#subtitle:hover {
    opacity:            1;
}
nav a {
    color:              rgba(0,0,0,0);
}
input:invalid:focus {
    background-color:   rgba(67,33,0,0.22);
}
#title {
    color:              hsla(210,100%,10%, 0.75);
}
body {
    background:         -webkit-gradient(               
                        linear, left bottom, left top,                  
                        color-stop(0.70, #00AAAA),                  
                        color-stop(0.30, #432100));
    background:         -ms-linear-gradient(
                        bottom,                 
                        #432100 30%,                
                        #00AAAA 70%);
}
/* Color Gradient Ends here */


/* Borders Begins here  */
/* Borders, Shadows, Rounded Corners */
input {
    /* border-radius:                  1em; */
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
#topics ul{
    border-radius:                  2em;
}
#topics li:first-child {
    border-top-left-radius:         2em; 
}
#topics li:nth-child(4) {
    border-bottom-left-radius:      2em; 
}
#topics li:nth-child(9) {
    border-top-right-radius:        2em; 
}
#topics li:last-child {
    border-bottom-right-radius:     2em; 
}

/* we are selecting id */
#content {
    border-radius:                  2em;    
}
#titles {
    border-top-left-radius:         2em; 
    border-top-right-radius:        2em; 
}


/* Selecting an element */
footer {
    border-bottom-left-radius:      2em;
    border-bottom-right-radius:     2em;
}
article, section {
    border-bottom-left-radius:      2em;
    border-bottom-right-radius:     2em;
}

/* selecting id and tag in that  */
#topics ul {
    box-shadow:                     .5em .5em .5em #555555;
}

/*  */
:focus {
    /* box-shadow:                     0 0 0.25em 0.125em #AA5500; */
    box-shadow:                     0 0 0.25em 0.125em palevioletred;
}



#content {
    box-shadow:                 0 0 0.5em 0.16em #555555,                  
                                    0.50em 0.50em 3em #0055AA,                  
                                    -0.25em 0 3em #0055AA;
}
/* Borders Ends here */



/* SCALE, SKEW , ROTATE */
#topics li:last-child:hover h1{
    transform: scale(2) skew(45deg,-4deg) rotate(180deg);
}



/* media queries */
/* Media Queries */
@media screen and (max-width:800px), (max-device-width:800px) {
    body {
        font-size:                      85%;
    }
    #topics * {
        border-radius:                  0!important;
        box-shadow:                     none!important;
    }
    #topics ul {
        -webkit-column-count:           0;    
        column-count:                   0;
    }
    #topics li {
        display:                        inline-block;
        width:                          7.75em;
        float:                          left;
        padding-left:                   1.5em;
        padding-right:                  1.5em;
    }
    #subtitle{   
        font-size:                      2em;        
    }
    #title {
       -webkit-transition:              0s;
       -ms-transition:                  0s;
       -transition:                     0s;                 
        font-size:                      4em;               
    }
    #about {
        display:                        inherit;     
        background-position:            right bottom, right top;
        background-size:                20%, 50%; 
    }
    #about p {
        -webkit-transform:  rotate(16deg) 
                            translate(22em,8em) 
                            scale(2);
        -ms-transform:      rotate(16deg) 
                            translate(22em,8em) 
                            scale(2);
        transform:          rotate(16deg) 
                            translate(22em,8em) 
                            scale(2);
    }
    #content {
        width: 35em;
    }
    nav a {
        color:  #FFEDDB   
    }
    article, section, footer {
        width: 33em;    
    }
    footer {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media screen and (max-width:480px), 
(max-device-width:480px) {
    body {
        font-size: 75%;
    }

    #title {
        font-size: 3em;
    }
    #content {
        width: 30em;
    }
    article, section, footer {
        width: 28em;    
    }
    #about{
        background: none;
    }
    #about p {
        -webkit-transform:  rotate(7deg) 
                            translate(10em,8em) 
                            scale(1.5);
        -ms-transform:      rotate(7deg) 
                            translate(10em,8em) 
                            scale(1.5);
        transform:          rotate(7deg) 
                            translate(10em,8em) 
                            scale(1.5);
    }
    #topics li {
        padding:     0.4375em;
    }
    #topics li p {
        font-size:   0.8125em;
    }
}
@media screen and (min-width:800px) {
    #title:hover {
       -webkit-transform:   scale(1.15);
        -ms-transform:      scale(1.15);
        transform:          scale(1.15);
    }
}