<nav class="navbar navbar-expand-lg bg-darb bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">Bajaj EP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employees']" routerLinkActive="active">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active">Events</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Register']" routerLinkActive="active">Register</a>
        </li> -->

        @if(isLoggedIn===true){
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" (click)="logout()">Logout</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>